{% extends('base.html.twig') %}

{% block title %}
    <title>Listado de Detalles-Orden!</title>
{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %} 
    <h1>Hola Mundo</h1>
{% endblock %}